<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/utils/contents/McDonald's_logo.svg.png" type="image/x-icon">
    <link rel="stylesheet" href="/utils/styles/catalogo.css">
    <link rel="stylesheet" href="/utils/styles/reset.css">
    <title>Mcdonald's</title>
</head>
<body>

    <header>
        <img src="/utils/contents/McDonald's_logo.svg.png" alt="">
    </header>
    
</body>
</html>