<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/utils/styles/reset.css">
    <link rel="stylesheet" href="/utils/styles/index.css">
    <link rel="shortcut icon" href="/utils/contents/McDonald's_logo.svg.png" type="image/x-icon">
    <title>McDonald's</title>
</head>
<body>

    <header>
        <img src="/utils/contents/McDonald's_logo.svg.png" alt="">
    </header>

    <main class="conteudo">
        <form class="formulario__inputs" action="#" method="post">
                <h1 class="titulo">Mcdonald's</h1>
                <label for="login">Login <input type="text" name="login" id="login_input"></label>
                <label for="senha">Senha <input type="password" name="senha" id="senha_input"></label>
                <input type="submit" value="Entrar">
            </form>
            <div class="links">
                <a href="#">Registrar usuario</a>
                <a href="#">Entrar sem login</a>
            </div>
    </main>

    
</body>
</html>